* {
	font-family: "Gill sans MT",sans-serif;
	margin:0;
	padding:0;
}
body {
	padding-top:20px;
}
h1,h2 {
	text-align:center;
	text-transform:uppercase;
	font-style:italic;
}
h1 > i,h2 > i{
	font-style:normal;
}
article {
	margin-top:20px;
	font-size:0.9em;
}

article,
footer,
.centercont {
	width:80%;
	background-color:white;
	margin:0 auto;
}
article {
	border:1px solid black;
	border-radius:10px;
	margin-top:10px;
	padding:5px;
}
textarea {
	width:100%;
	height:200px;
}

/* file container start */
.filecont {
	display:inline-block;
	position:relative;
	min-width:280px;
	height:198px;
	margin:40px 0 0 0;
	padding:3px;
	background-color:#BBB;
	transition:background-color 0.2s ease 0s;
}
.filecont img.noimage {
	width:280px;
	background-image: url("https://www.getdigital.de/web/getdigital/gfx/products/__generated__resized/1100x1100/Aufkleber_Trollface.jpg");
	background-size: 280px 198px;
}
.filecont *{
	color:#FFF;
	margin:0;
	padding:0;
}
.filecont:hover {
	background-color:#444;
}
.filecont .name {
	position:absolute;
	top:-29px;
	left:3px;
	font-size:30px;
	text-transform:uppercase;
	font-style:italic;
	color:#BBB;
}
.filecont .author::before {
	content:"by ";
}
.filecont .author {
	position:absolute;
	top:-16px;
	right:3px;
	font-size:10px;
	text-transform:uppercase;
	font-style:italic;
	color:#BBB;
}
.filecont .author a {
	color:#8564E5;
	text-decoration:underline;
}
.filecont .popup {
	padding:0 0 3px 3px;
	position:absolute;
	left:0;
	top:0;
	width:100%;
	max-height:200px;
	overflow:hidden;
	margin-top:10px;
	opacity:0;
	transition:margin-top 0.2s ease 0s, opacity 0.2s ease 0s;
	font-size:12px;
	margin-left:-3px;
}
.filecont:hover .popup {
	margin-top:0;
	opacity:1;
}
.filecont .description {
	background-color:#444;
	padding:0 3px;
	line-height:1.5em;
}
.filecont .downloads:before {
	content:"Downloads: ";
}
.filecont .rating:before {
	content:"Rating: ";
}
.filecont .downloads,
.filecont .rating {
	text-align:right;
	margin-right:15px;
	color:white;
	text-shadow:0 0 3px black;
	font-size:16px;
}
.fileDescImage,
.filecont img {
	height:198px;
	image-rendering:optimizeSpeed;
	image-rendering:-moz-crisp-edges;
	image-rendering:-o-crisp-edges;
	image-rendering:-webkit-optimize-contrast;
	image-rendering:optimize-contrast
	image-rendering:crisp-edges;
	-ms-interpolation-mode: nearest-neighbor;
}
.fileDlCheckbox {
	position:absolute;
	left:2px;
	bottom:2px;
}
/* file container end */

/* file/author page start */
#authorDescription,
#fileDescription {
	border:2px solid #444;
}
#authorDescription *,
#fileDescription * {
	border:none;
	border-collapse:collapse;
}
#authorDescription th,
#fileDescription th {
	font-width:bold;
	font-size:30px;
	text-transform:uppercase;
	font-style:italic;
	color:white;
	background-color:#444;
}
#authorDescription th a,
#fileDescription th a,
#zipcontentsheader a {
	color:#99ADFE;
}
#authorDescription td:nth-child(1),
#fileDescription td:nth-child(1){
	background-color:#777;
	text-align:right;
	padding:3px;
	margin:3px 3px 0 0;
}
#authorDescription td:nth-child(2),
#fileDescription td:nth-child(2){
	width:100%;
	padding:3px;
}
#authorDescription tr:nth-child(odd),
#fileDescription tr:nth-child(odd){
	background-color:#BBB;
}
.fileDescImage {
	border: 3px solid #BBB;
	margin:3px;
}
#editfile {
	position:absolute;
	right:11%;
	margin-top:9px;
	color:#99ADFE;
}
/* file/athor page end*/

/* categories start */
.subcatlink {
	color:black;
	text-decoration:none;
	display:block;
	margin-top:2px;
	padding:2px 3px;
	border: 1px solid #BBB;
	border-radius:5px;
	background-color:white;
	transition:border-color 0.2s ease 0s, background-color 0.2s ease 0s;
}
.subcatlink:hover {
	border-color:#777;
	background-color:#BBB;
}
/* categories end */





#zipcontentswrap{
	text-align:center;
}
#zipcontents{
	display:inline-block;
	border:2px solid #444;
	margin:0 auto;
	font-style:bold;
	min-width:200px;
}
#zipcontents > *{
	padding:3px;
}
#zipcontentsheader{
	color:white;
	text-transform:uppercase;
	font-style:italic;
	background-color:#444;
	font-weight:bold;
}
.zipcontentsitem:nth-child(odd){
	background-color:#BBB;
}
.zipcontentsitem.dlfile {
	font-weight:bold;
}

footer {
	font-size:12px;
	border:1px solid black;
	border-radius:10px;
	padding:3px;
	margin-top:15px;
}

/* button stuff start */
.button {
	display:inline-block;
	background-color:#BBB;
	padding:0.2em 0.4em;
	border:medium none;
	color:#222;
	text-transform:uppercase;
	font-style:italic;
	font-size:13pt;
	text-shadow:0px 1px #DDD;
	cursor:pointer;
	text-decoration:none;
	outline:0;
}
.buttongroup .button {
	margin:0px 1px 1px 0px;
}
.buttongroup {
	white-space-collapse: discard;
	font-size:0;
}
.button:hover,
.button.is-checked {
	color:#FFF;
	text-shadow:0px 1px #000;
	background-color:#444;
}
.button.warning {
	background-color:orange;
}
.button.error {
	background-color:red;
}
.button select {
	text-transform:none;
	padding:0;
	margin:0;
	border:none;
	background-color:inherit;
	color:inherit;
	font:inherit;
	margin:-0.2em 0;
	outline:0;
}
/* button stuff end */

/* help popup start */
.help {
	display:inline-block;
	margin:0 5px;
	cursor:help;
}
.help > img {
	height:1.2em;
}
.help > .text {
	visibility:hidden;
	opacity:0;
	position:absolute;
	background-color:white;
	padding:5px;
	border:1px solid black;
	border-radius:3px;
	max-width:300px;
	
	/* we need to delay the visibilty:hidden; else there is no fade out, so that it isn't */
	/* delayed when hovering over we need the re-declaration in :hover */
	transition:opacity 0.4s ease 0s,visibility 0s ease 0.4s;
}
.help:hover > .text {
	visibility:visible;
	opacity:1;
	transition:opacity 0.4s ease 0s,visibility 0s ease 0s;
}
.help > .text td {
	border-top:1px dashed black;
	border-left:1px dashed black;
	padding:3px;
}
.help > .text td:nth-child(1){
	border-left-style:none;
}
.help > .text tr:nth-child(1) > td{
	border-top-style:none;
}
/* help popup end */