buildserver/backend/__pycache__
buildserver/backend/sandbox
buildserver/backend/builds
buildserver/backend/input
buildserver/backend/output
buildserver/frontend/__pycache__
public_html/tmp
public_html/uploads
