__pycache__
/buildserver/backend/sandbox
/buildserver/backend/builds
/buildserver/backend/input
/buildserver/backend/output
/public_html/tmp
/public_html/uploads
/public_html/cache
/public_html/files
/public_html/config.php
forum
navbar
